# OS Files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

*storybook.log
storybook-static

node_modules/
